# Python
backend/venv/
__pycache__/
*.pyc
.pytest_cache/

# Environment files
.env

# FastAPI / Alembic
alembic/__pycache__/

# SQLite
*.sqlite3

# Node
frontend/node_modules/

# Build files
dist/
build/

# IDE
.vscode/
.idea/

# OS files
.DS_Store

# Docker override
docker-compose.override.yml